@{
    //ViewData["Title"] = "Home Page";
}


<a class="btn btn-primary btn-block" asp-controller="Banking" asp-action="Payment">تایید و پرداخت نهایی</a>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
